# Package Files
*.jar
*.war
*.ear

# JVM dumps
hs_err_pid*

# Maven and build files
target/

# Eclipse
.classpath
.project
.settings
.recommenders
.metadata

# Idea IntelliJ
*.ipr
*.iws
*.iml
.idea/

# Databases
DB*

# Backups
pom.xml.backup
*~
.#*
\#*
*.bak

